/*
    Configure your colors here by name.

    You can see the colors by name at https://www.w3schools.com/colors/colors_names.asp

*/

//globals
$menu-background-color: black;
$menu-text-color: ghostwhite;
$menu-highlight-color: ghostwhite;
$menu-highlight-bg: slategrey;


