/*
    Configure your colors here by name.

    You can see the colors by name at https://www.w3schools.com/colors/colors_names.asp

*/

//globals
$menu-background-color: white;
$menu-text-color: darkslategrey;
$menu-highlight-color: deepskyblue;
$menu-highlight-bg: white;


