<nav class="navbar navbar-expand-lg navbar-light bg-light vh-100 align-items-start" style="width: 250px">
  <div class="container-fluid">
    <div class="text-center">
      <a class="navbar-brand" href="/">
        <img src="https://careydevelopment.us/img/branding/careydevelopment-logo-sm.png" class="w-75" />
      </a>
      <hr />
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><a class="dropdown-item" href="/register">Register</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
