@import '../../config/theme';

div, ul, li {
  background-color: inherit;
}

nav {
  background-color: $menu-background-color !important;
}

.navbar-toggler {
  background-color: $menu-highlight-bg !important;
}

.basic-item:hover,
.basic-item:focus {
  background-color: $dropdown-link-hover-bg !important;
  color: $menu-highlight-color !important;
  cursor: pointer;
}

.child-menu-item {
  display: inline-flex;
  width: 100%;
  color: $menu-text-color;
}

.child-menu-item:hover,
.child-menu-item:focus {
  background-color: $dropdown-link-hover-bg !important;
  color: $menu-highlight-color !important;
  cursor: pointer;
}

.bi {
  padding-right: 10px;
}
