@import '../themes/light';
//@import '../themes/dark';


//Bootstrap SCSS variables
$dropdown-link-hover-bg: $menu-highlight-bg;
$dropdown-link-active-bg: $menu-background-color;
$dropdown-link-color: $menu-text-color;
$dropdown-link-hover-color: $menu-highlight-color;
$dropdown-link-hover-bg: $menu-highlight-bg;
$dropdown-link-hover-color: $menu-highlight-color;
$dropdown-link-active-color: $menu-text-color;
$dropdown-link-active-bg: $menu-highlight-bg;

$nav-link-color: $menu-text-color;
$nav-link-hover-color: $menu-highlight-color;
